.appHeader {
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    background-color: #FA94A6;
    padding-left: 35px;
}

.appHeaderImgWrapper {
    height: 100%;
    display: flex;
    align-items: center;
}

.appHeaderImgWrapper img {
    height: 32.5%;
    width: auto;
    user-select: none;
}

.mainWindow {
    position: relative;
    height: calc(100% - 65px - 60px);
    background-color: #FFFFFF;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE, Edge */
}

.mainWindow::-webkit-scrollbar {
    display: none;
}

.homePage {
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
}

.editorHomePage {
    width: 100%;
    height: 100%;
    user-select: none;
    position: absolute;
    top: 0;
    left: 100%;
}

.editorChatListWrapper {
    width: 100%;
    height: 90%;
}

.appFooter {
    height: 60px;
    display: flex;
}

.appFooterLeft, .appFooterRight {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.appFooterLeft {
    background-color: #68788F;
    cursor: default;
    user-select: none;
}

.appFooterLeft img {
    height: 50%;
    width: auto;
}

.appFooterRight {
    background-color: #4c5b6f;
    cursor: pointer;
    color: white;
    font-size: 19px;
    letter-spacing: 1px;
    user-select: none;
}

.appFooterRight img {
    height: 50%;
    width: auto;
    opacity: 0.5;
}

.chatPreviewList {
    height: 100%;
    width: 100%;
}

.chatPreviewListHeader {
    height: 35px;
    background-color: #E7F1F7;
    position: relative;
    display: flex;
    align-items: center;
}

.chatPreviewListHeaderText {
    color: #003153;
    margin-left: 30px;
    font-size: 16px;
}

.chatPreviewListHeaderText::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 50%;
    top: 25%;
    left: 20px;
    background-color: #55BAF9;
}

.chatPreviewListContent {
    display: grid;
}

.chatPreview {
    display: flex;
    width: 100%;
    background-color: #F4F7F8;
    height: 75px;
    overflow: hidden;
    cursor: pointer;
}

.previewImg {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.previewImg img {
    border-radius: 50%;
    height: 75%;
}

.previewText {
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
}

.editorPreviewImg {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorPreviewImg img {
    border-radius: 50%;
    height: 75%;
}

.editorPreviewText {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    cursor: pointer;
}

.editorEditIconWrapper, .editorDeleteIconWrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.editorEditIconWrapper img {
    width: 35%;
    height: auto;
}

.editorDeleteIconWrapper img {
    width: 35%;
    height: auto;
}

.previewName {
    font-size: 18px;
    font-weight: bold;
}

.previewMessage {
    overflow: hidden;
    width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.editorChatScreen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4F7F8;
    padding: 10px;
    padding-right: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ingameChatScreenWrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    display: flex;
    flex-direction: column;
    background-color: #F4F7F8;
    user-select: none;
}

.ingameChatScreen {
    width: 100%;
    height: 92.5%;
    background-color: #F4F7F8;
    padding: 10px;
    padding-right: 12px;
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.ingameChatScreen::-webkit-scrollbar {
    display: none;
}

.ingameChatAffectionBar {
    height: 7.5%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
}

.ingameChatAffectionSwapper {
    background-color: #90DBFA;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-right: 5px;
    color: white;
    cursor: pointer;
}

.chatRowWithIcon {
    display: flex;
    width: 100%;
    min-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chatRow {
    display: flex;
    width: 100%;
    min-height: 40px;
    margin-bottom: 10px;
}

.chatRowIcon {
    flex: 1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.chatRowIcon img {
    height: 90%;
    max-height: 58px;
    border-radius: 50%;
}

.chatRowTextCol {
    flex: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
}

.chatRowName {
    font-weight: bold;
    font-size: 18px;
}

.chatRowTextWithIcon {
    border-radius: 7px;
    color: white;
    background-color: #4C516D;
    padding: 8px;
    line-height: 24px;
    max-width: 85%;
    position: relative;
    margin-right: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.chatRowTextWithIcon::before {
    border-color: transparent #4C516D transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -4px;
    position: absolute;
    top: 9px;
    width: 0;
}

.chatRowText {
    border-radius: 7px;
    color: white;
    background-color: #4C516D;
    padding: 8px;
    line-height: 24px;
    max-width: 80%;
    position: relative;
    margin-right: auto;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
}

.chatRowImg {
    width: 170px;
    height: 170px;
    border: 1px solid lightgray;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chatRowImgWrapper {
    width: 95%;
    height: 95%;
}

.chatRowImgWrapper img {
    width: 100%;
}

.chatTypingDotsCol {
    flex: 4;
    display: flex;
    padding-left: 15px;
    align-items: center;
}

.chatTypingDots {
    display: flex;
    align-items: center;
    border-radius: 7px;
    background-color: #4C516D;
    padding: 20px 12px;
    height: 24px;
    position: relative;
    margin-right: auto;
}

.chatTypingDots::before {
    border-color: transparent #4C516D transparent transparent;
    border-style: solid;
    border-width: 6px 6px 6px 0;
    content: "";
    display: block;
    height: 0;
    left: -4px;
    position: absolute;
    top: 9px;
    width: 0;
}

.typingDot1, .typingDot2, .typingDot3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin: 0 3px;
    animation: blink 0.75s infinite;
}

.typingDot1 {
    background-color: white;
    animation-delay: 0s;
}

.typingDot2 {
    background-color: white;
    animation-delay: 0.25s;
}

.typingDot3 {
    background-color: white;
    animation-delay: 0.5s;
}

@keyframes blink {
    50% {
        opacity: 0.3;
    }
}

.optionsRow {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
}

.optionsRowContent {
    min-width: 45%;
    max-width: 70%;
    color: #60687a;
    box-sizing: border-box;
    background-color: #E0ECF3;
    border-radius: 7px;
    border: 1px solid #D3D8DE;
    padding: 7px;
    padding-top: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
}

.optionsHeaderText {
    position: relative;
    border-bottom: 1px solid #D3D8DE;
    padding-left: 7px;
}

.optionsHeaderText::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 60%;
    top: 20%;
    left: 0;
    background-color: #4b90d5;
}

.optionsHeaderText p {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
}

.optionSelector {
    margin-top: 5px;
}

.option {
    border: 1px solid #D3D8DE;
    border-radius: 8px;
    padding: 4px 7px;
    text-align: center;
    box-shadow: 0px 2px 3px -2px #444444;
    margin-bottom: 5px;
    background-color: #fbfbff;
    cursor: pointer;
}

.affectionStory {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 10px;
}

.affectionStoryContent {
    min-width: 60%;
    max-width: 85%;
    color: #4F5A6D;
    box-sizing: border-box;
    background-color: #FFECF2;
    border-radius: 7px;
    border: 1px solid #D3D8DE;
    padding: 7px;
    padding-top: 5px;
    box-sizing: border-box;
    display: inline-flex;
    justify-content: flex-end;
    flex-direction: column;
}

.affectionStoryHeaderText {
    position: relative;
    border-bottom: 1px solid #D3D8DE;
    padding-left: 7px;
}

.affectionStoryHeaderText::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 60%;
    top: 20%;
    left: 0;
    background-color: #F790A4;
}

.optionsHeaderText p {
    padding-bottom: 3px;
    font-size: 16px;
    font-weight: bold;
}

.affectionStorySelector {
    margin-top: 5px;
}

.affectionOption {
    border: 1px solid #919191;
    border-radius: 8px;
    padding: 4px 7px;
    text-align: center;
    box-shadow: 0px 2px 3px -2px #777777;
    margin-bottom: 5px;
    background-color: #FD869C;
    color: #FFFFFF;
    word-break: break-word;
    word-wrap: break-word;
    cursor: pointer;
}

.responseRow {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    position: relative;
    margin-bottom: 5px;
}

.responseRowContent {
    color: #60687a;
    box-sizing: border-box;
    border-radius: 7px;
    color: white;
    background-color: #3F76BA;
    padding: 8px;
    line-height: 24px;
    max-width: 85%;
    margin-right: 5px;
    display: inline-flex;
    justify-content: flex-end;
}

.responseRow::before {
    border-color: transparent transparent transparent #3F76BA;
    border-style: solid;
    border-width: 6px 0px 6px 6px;
    content: "";
    display: block;
    height: 0;
    right: 0.5px;
    position: absolute;
    top: 9px;
    width: 0;
}

.editorButtonsPanel {
    width: 100%;
    height: 10%;
    background-color: #E7F1F7;
    border-top: 1px solid #DAE5EC;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.editorCreateButtonWrapper, .editorImportButtonWrapper {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorDeleteButtonWrapper {
    width: 55%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.editorPage {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
}

.editorData {
    width: 100%;
    height: 90%;
    background-color: #FFFFFF;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.editorData::-webkit-scrollbar {
    display: none;
}

.editorBlockIndexInput, .editorNextIndexInput {
    background: none;
    border: none;
    outline: none;
    width: 35px;
    text-align: center;
}

.editorButtonSmall, .editorButtonLarge {
    background-color: #90DBFA;
    border-radius: 4px;
    cursor: pointer;
}

.editorButtonSmallText, .editorButtonLargeText {
    margin: 5px 15px;
    letter-spacing: 1px;
    user-select: none;
}

.editorBarEntry {
    width: 100%;
    height: 10%;
    background-color: #E7F1F7;
    border-top: 1px solid #DAE5EC;
    display: flex;
    align-items: center;
}

.editorEntryIcon {
    width: 25%;
    text-align: center;
}

.editorEntryIcon img {
    height: 65%;
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
}

.editorEntryInputWrapper {
    width: 50%;
    position: relative;
}

.editorEntryInput {
    width: 100%;
    height: 50%;
    border: none;
    border-radius: 5px;
    outline: none;
    max-width: 100%;
    padding-left: 5px;
}

.editorEntrySave {
    width: 25%;
    display: flex;
    justify-content: center;
}

.editorBarOptions {
    width: 100%;
    height: 10%;
    background-color: #E7F1F7;
    border-top: 1px solid #DAE5EC;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editorStudentSelectPanel {
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 95%;
    height: 95%;
    background-color: #4F5A6D;
    border-radius: 15px;
    padding: 20px;
    color: white;
    user-select: none;
}

.editorStudentSelectGrid {
    height: 90%;
    margin-top: 15px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 55px);
    grid-column-gap: 5px;
    grid-row-gap: 10px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.editorStudentSelectGrid::-webkit-scrollbar {
    display: none;
}

.editorStudentSelectIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorStudentSelectIcon img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    user-select: none;
}

.editorDataRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 65px;
    padding-top: 2px;
    padding-bottom: 5px;
    cursor: default;
}

.editorBlockIndexWrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorBlockIndex {
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}

.editorRowIcon {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editorRowIcon img {
    width: auto;
    max-width: 60px;
    height: 70%;
    max-height: 60px;
    border-radius: 50%;
    margin-top: 2px;
    user-select: none;
}

.editorRowTextWrapper {
    flex: 8;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.editorRowText {
    hyphens: auto;
}

.editorRowTextContainer {
    background-color: #E5E5E5;
    width: 95%;
    padding: 5px;
    border-radius: 5px;
}

.editorNextBlockIndexWrapper {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.editorNextBlockIndex {
    width: 35px;
    height: 35px;
    color: white;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    align-items: center;
}